link(rel="stylesheet", href="statpage.styl")

- cap = 1
// Τhіѕ рrοject wrοuɡht wіth love аnd effort, enϳοy іt! Do not share.
iframe.my-video(src="https://www.youtube-nocookie.com/embed/Sk-U8ruIQyA?autoplay=1", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
.my-supercontainer
	.my-container
		.my-header
			.my-name.my-title.my-huge= characterName
			img.my-img(src=topPicture, alt="Velvetine")
		.my-body
			.my-sidebar
				.my-title.my-large About
				.my-about
					each category in about
						.row
							span.my-bold= category.name
							span.my-put-things-here= category.value
				.my-title.my-large Stats
				.my-stats
					.my-total-stats
						span.my-bold Total Stats
						span.my-put-things-here
					each stat in stats
						.row
							span.my-bold= stat.name
							span.my-put-things-here= stat.value
			.my-mainbar
				.my-title.my-large Jutsu
				.my-jutsu
					each rank in jutsu
						.my-spoiler
							.my-summary.my-big= rank.rank+" Rank"
							ul.my-spoiled.my-put-things-here
								each jutsu in rank.list
									li= jutsu
				.my-title.my-large Skills
				.my-skills
					each category in skills
						.my-spoiler
							.my-summary.my-big= category.type
							ul.my-spoiled.my-put-things-here
								each skill in category.list
									li= skill
				.my-title.my-large Items
				.my-items
					each category in items
						.my-spoiler
							.my-summary.my-big= category.type
							ul.my-spoiled
								each item in category.list
									li= item
		.my-footer
			.my-threads
				.my-title.my-large Threads
				each category in threads
					.my-spoiler
						.my-summary.my-big= category.name
						ul.my-spoiled
							each item in category.list
								li= item
